@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
:root {

    --green: #27ae60;
    --black: #333;
    --white: #fff
    --bg-color: #eee;
    --box-shadow: 0.5rem 1rem rbga(0,0,0,.1);
    --border: 1rem solid var(--black);
}

*{

    font-family: 'Poppins', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    color: white;

}

body{
/* background-color: none; */
background-image: url("https://dl.dropboxusercontent.com/s/mr7gyz1zwtxudci/website-background-image-size-psd-vector-photo.jpg");

}


hr{
    border: none;
    border-top: 3px solid  #4a4a894f;
}

.message{
    display: block;
    background-color:#1d242db7;
   border-bottom: 4px solid grey;
    padding:1.5rem 1rem;
    font-size: 16px;
    color: whitesmoke;
    margin-bottom: 0;
    text-align: left;
 }

.container{

    margin-top: 50px;
    padding-bottom: 100px;
}

.subcontainer{

    padding-top: 70px ;
    width: 50%;
}

button, input[type="submit"]{
    margin-left: 20px;
    color:  white;
    border: 1px solid whitesmoke;
        font-size: 16px;
    border-radius: 3px;
    position: relative;
   
    top: -55px;
    left: 830px;
   
   

    }

.savebutton{
    background-color:  #38367D;

padding: 10px 30px;
}
.cancelbutton {
    
    background-color:  #1d242d;
   padding: 10px 20px;
}

h1 {

    font-weight: bolder;
}

label {
   font-weight : 900;
}

option{

    color: black
}

footer {
text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #1d242db7;
}


@media (max-width : 600px) {

    .subcontainer{
        width:100%;
    }

    button, input[type="submit"]{
        font-size: 10px;
        padding: 5px 10px;
        top: -45px;
        left: 300px;

    }
   
.cancelbutton{
    padding: 5px 10px;
}
}



